---
- name: install mysql client
  sudo: yes
  apt: name=mysql-client

- name: install libmysqlclient-dev
  sudo: True
  apt: name=libmysqlclient-dev

- name: install libpython-dev
  sudo: True
  apt: name=libpython-dev

- name: install python2.7
  sudo: True
  apt: name=python2.7

- name: install python-pip
  sudo: True
  apt: name=python-pip

- name: install virtualenv
  sudo: True
  apt: name=python-virtualenv

- name: install python-mysqldb
  sudo: True
  apt: name=python-mysqldb

- name: install user-interfaces requirements.txt
  pip: virtualenv=/vagrant/ui/venv requirements=/vagrant/ui/requirements.txt

- name: install nodejs
  sudo: True
  apt: update_cache=yes name=nodejs state=present

- name: link nodejs to node
  sudo: True
  file: src=/usr/bin/nodejs dest=/usr/local/bin/node state=link

- name: install npm
  sudo: True
  apt: name=npm state=present

- name: install bower
  sudo: True
  npm: name=bower global=yes state=present

- name: install bower dependencies
  command: /usr/local/bin/bower install
  args:
    chdir: /vagrant/ui/

- name: copy user-interface service into systemd
  sudo: yes
  template: src=templates/ui/user-interface.service.j2 dest=/etc/systemd/system/user-interface.service mode=0751

- name: start user-interface service
  sudo: yes
  service: name=user-interface state=restarted

