##
## Zipnish daemon configuration.
##

[Database]
# Db settings for the MySql connection.

# MySql host
host = 192.168.75.12

# Database name
db_name = microservice

# User name
user = microservice

# Password
pass = WqPv5fBSLgnskM7

# Connection keep-alive
keep_alive = true

# Truncate tables
truncate_tables = false


[Cache]
# Defines which cache to fetch logs from.

# Name of the cache (same value sent via the -n argument)
# name = demo


[Sync]
# Sleep time when while asking for varnish log. (in seconds).
splay = 0.5


[Log]
# Path to the daemon logfile.
log_file = /var/log/zipnish/zipnish.log

# Valid log_levels are: DEBUG, INFO, WARNING, ERROR
log_level = DEBUG
