[Unit]
Description=Zipnish logreader service (varnish 4.0)

[Service]
ExecStart=/bin/bash -c 'source /opt/zipnish/logreader/venv/bin/activate; /opt/zipnish/logreader/app.py &'

[Install]
WantedBy=multi-user.target
