[Unit]
Description=Zipnish logreader service (varnish 4.0)

[Service]
WorkingDirectory=/opt/zipnish/logreader
ExecStartPre=source /opt/zipnish/logreader/venv/bin/activate
ExecStart=/opt/zipnish/logreader/app.py
