[Unit]
Description=User interface service daemon (run python flask app)

[Service]
WorkingDirectory=/vagrant/ui/
Environment=APP_CONFIG=development DB_NAME={{ db_name }} DB_USER={{ db_user }} DB_PASS={{ db_pass }} DB_HOST={{ db_host }} DB_PORT={{ db_port }}
ExecStart= /vagrant/ui/venv/bin/python /vagrant/ui/manage.py runserver --port {{ ui_port }} --host {{ ui_host }} --reload