<div id="trace-controls" class="row well well-sm">
  <ul class="nav nav-pills">
    <li class=""><a href="#"><strong>Duration:</strong> <span class="badge">*duration</span></a></li>
    <li class=""><a href="#"><strong>Services:</strong> <span class="badge">*services</span></a></li>
    <li class=""><a href="#"><strong>Depth:</strong> <span class="badge">*depth</span></a></li>
    <li class=""><a href="#"><strong>Total Spans:</strong> <span class="badge">*totalSpans</span></a></li>
  </ul>

  <form class="form-inline" role="form">
    <div class="btn-group btn-group-sm" id="filterAllServices">
      <button type="button" class="btn btn-default" value="uiExpandAllSpans">Expand All</button>
      <button type="button" class="btn btn-default active" value="uiCollapseAllSpans">Collapse All</button>
    </div>
  </form>
</div>
