<div id="trace-controls" class="row well well-sm">

  <div class="col-sm-4">
    <form class="form-inline" role="form">
      <div class="btn-group btn-group-sm" id="filterAllServices">
        <button type="button" class="btn btn-default" value="uiExpandAllSpans">Expand All</button>
        <button type="button" class="btn btn-default" value="uiCollapseAllSpans">Collapse All</button>
      </div>
    </form>
  </div>

  <div class="col-sm-8 pull-right">
    <div class="trace-stats">
      <span class="key"><strong>Duration:</strong> <span class="badge alert-info">{{ '%.3f' | format(totalDuration) }} ms</span></span>
      <span class="key"><strong>Spans:</strong> <span class="badge alert-info">{{ totalSpans }}</span></span>
      <span class="key"><strong>Services:</strong> <span class="badge alert-info">{{ totalServices }}</span></span>
      <span class="key"><strong>Depth:</strong> <span class="badge alert-info">{{ totalDepth }}</span></span>
    </div>
  </div>

</div>
