<div style="display: block;" id="2ca2dc87b9cea313" class="span service-span depth-0 highlight" data-keys="id,spanName,serviceNames,serviceName,durationStr,duration" data-id="2ca2dc87b9cea313" data-parent-id="" data-span-name="porta" data-service-name="parturient" data-service-names="parturient" data-duration-str="107.000ms" data-duration="107000" data-children="91988aae626f2e60,6d52a2c87029d509,efcc580ec1bc9311">
    <div class="handle">
      <div class="service-name" style="margin-left: 10px">
        <span class="expander">-</span>
        parturient
      </div>
    </div>

    <div class="duration-container">
      <div class="time-marker time-marker-0">.</div>
      <div class="time-marker time-marker-1">.</div>
      <div class="time-marker time-marker-2">.</div>
      <div class="time-marker time-marker-3">.</div>
      <div class="time-marker time-marker-4">.</div>
      <div class="time-marker time-marker-5">.</div>

      <div class="duration" style="left: 0.0%; width: 100.0%">
        107.000ms : porta
        <div class="annotation core" style="left: 0.0%; width: 8px" title="Server Receive" data-keys="endpoint,value,timestamp,relativeTime,serviceName,duration" data-endpoint="234.72.52.180:5411" data-value="Server Receive" data-timestamp="1439284406165000" data-relative-time="" data-service-name="parturient" data-duration=""></div>
        <div data-original-title="libero" class="annotation" style="left: 0.0%; width: 8px" title="" data-keys="endpoint,value,timestamp,relativeTime,serviceName,duration" data-endpoint="234.72.52.180:5411" data-value="libero" data-timestamp="1439284406165000" data-relative-time="" data-service-name="parturient" data-duration=""></div>
        <div data-original-title="rhoncus" class="annotation" style="left: 2.803738%; width: 8px" title="" data-keys="endpoint,value,timestamp,relativeTime,serviceName,duration" data-endpoint="234.72.52.180:5411" data-value="rhoncus" data-timestamp="1439284406168000" data-relative-time="3.000ms" data-service-name="parturient" data-duration=""></div>
        <div data-original-title="montes" class="annotation" style="left: 6.542056%; width: 8px" title="" data-keys="endpoint,value,timestamp,relativeTime,serviceName,duration" data-endpoint="234.72.52.180:5411" data-value="montes" data-timestamp="1439284406172000" data-relative-time="7.000ms" data-service-name="parturient" data-duration=""></div>
        <div class="annotation core" style="left: 100.0%; width: 8px" title="Server Send" data-keys="endpoint,value,timestamp,relativeTime,serviceName,duration" data-endpoint="234.72.52.180:5411" data-value="Server Send" data-timestamp="1439284406272000" data-relative-time="107.000ms" data-service-name="parturient" data-duration=""></div>
      </div>
    </div>

    <div class="binary-annotation" data-keys="key,value,type" data-key="viverra" data-value="tincidunt" data-type="AnnotationType(6,String)"></div>
    <div class="binary-annotation" data-keys="key,value,type" data-key="sagittis" data-value="magna" data-type="AnnotationType(6,String)"></div>
    <div class="binary-annotation" data-keys="key,value,type" data-key="auctor" data-value="consequat" data-type="AnnotationType(6,String)"></div>
  </div>

