<script id="span-row-template" type="template/underscore" charset="utf-8">
<div id="<%= span_id %>">
  <div class="handle">
    <div class="service-name">
      <span class="expander">+</span>
      <%= service_name %>
    </div>
  </div>
</div>
</script>

<script type="text/javascript">
  var spanParentObj = {};

  /*
     These spans represent span_id as key,
     whose value equals parent_id of the span

     In case parent_id is None, it indicates the
     parent most span
  */
  {% for key, value in spanParentDict.iteritems() %}
    spanParentObj['{{ key }}'] = '{{ value }}'
  {% endfor %}

  /*
     Fill in annotations structure.

     Annotation structure should contain all information we require
     for building simple annotations inside trace view
  */

  var annotations = [];

  {% for row in annotations %}
    annotations.push({
      'span_id': "{{ row['span_id'] }}",
      'span_name': "{{ row['span_name'] }}",
      'service_name': "{{ row['service_name'] }}",
      'value': "{{ row['value'] }}",
      'ipv4': "{{ row['ipv4'] }}",
      'port': "{{ row['port'] }}",
      'a_timestamp': "{{ row['a_timestamp'] }}"
    });
  {% endfor %}


  // will be filled on page laod
  var spanStructure;

  window.addEventListener('load', traceLoaded);

  function traceLoaded() {
    // template for span row
    var spanRowTemplate;


    // fill span structure with span information
    fillSpanStructure();

    // #trace-container DOM node
    var $traceContainer = $('#trace-container');

    // fetching and creating template for span row
    spanRowTemplate = _.template($('#span-row-template').html());

    // Custom sort annotations structure by timestamp value ASC
    var sortedAnnotations;

    // sorted annotations by timestamp ASC
    sortedAnnotations = _.sortBy(annotations, 'a_timestamp');

    // services used to display trace information
    var services;

    services = serviceTree(spanParentObj, sortedAnnotations);
  }

  function fillSpanStructure() {
    var spanObjects = {};

    for (var key in spanParentObj) {
      spanObjects[key] = getSpanInformation(key);
    }

    spanStructure = spanObjects;
  }

  function getSpanInformation(key)
  {
    var i, len, obj;

    len = annotations.length;

    for (i = 0; i < len; i++) {
      if (annotations['span_id'] == key) {
        obj = {
          'span_id': key,
          'span_name': annotations['span_name'],
          'parent_id': spanParentObj[key]
        };

        break;
      }
    }

    return obj;
  }

  function serviceTree(spanParentObj, sortedAnnotations) {

    var rootSpanId;

    rootSpanId = '';

    for (var key in spanParentObj) {
      if (spanParentObj[key] == 'None') {
        rootSpanId = key;
        break;
      }
    }

    var tree = {};

    // fill structure for root tree node
    tree[rootSpanId] = {
      'id': rootSpanId,
      'depth': 0,
      'children': [],
    };



    return tree;
  }

  function spanTree(spanParentObj) {
    var tree = {}, len;

    return tree;
  }

</script>
