<!-- trace lookup form -->
<form class="form-inline" role="form">
	<div class="form-group">
		<select 
			data-placeholder="Service Name" 
			class="form-control input-sm" style="width: 400px;" name="serviceName" id="serviceName">
			<option value=""></option>

			<option value="">Service Value 1</option>
			<option value="">Service Value 2</option>
			<option value="">Service Value 3</option>
			<option value="">Service Value 4</option>
			<option value="">Service Value 5</option>
		</select>
	</div>

	<div class="form-group">
		<select data-placeholder="Span Name" class="form-control input-sm" style="width: 250px;" name="spanName" id="spanName">
			<option value="all"></option>

			<option value="">Option Value 1</option>
			<option value="">Option Value 2</option>
			<option value="">Option Value 3</option>
			<option value="">Option Value 4</option>
			<option value="">Option Value 5</option>
		</select>
	</div>

	<div id="time-stamp" class="form-group">
      <label for="timeStamp">&nbsp; End Time &nbsp;</label>
      <input class="form-control input-sm date-input" type="text">
      <input class="form-control input-sm time-input" type="text">
      <input class="" id="timestamp" name="timestamp" type="hidden" value="{{timestamp}}">
    </div>

    <div class="form-group">
      <label for="limit">&nbsp; Limit &nbsp;</label>
      <input class="form-control input-sm" id="limit" name="limit" type="text" value="{{limit}}">
    </div>

	&nbsp;
	<button type="submit" class="btn btn-primary btn-sm">Find Traces</button>
	<button type="button" class="btn btn-default btn-sm info-request">Help</button>
</form>