<!-- trace lookup form -->
<form class="form-inline" role="form">
	<div class="form-group">
		<select
			data-placeholder="Service Name"
			class="form-control input-sm" style="width: 380px;" name="serviceName" id="serviceName">
			<option value=""></option>

      {%- for service_name in services %}
      <option
          value="{{ service_name }}"
          {% if service_name == get_ServiceName %} selected="selected"{% endif %}>

            {{ service_name }}

      </option>
      {%- endfor %}
		</select>
	</div>

	<div class="form-group">
		<select data-placeholder="Span Name" class="form-control input-sm" style="width: 250px;" name="spanName" id="spanName">
			<option value="all"></option>

      {%- for span_name in spans %}
      <option
           value="{{ span_name }}"
           {% if span_name == get_SpanName %} selected="selected"{% endif %}>

            {{ span_name }}

      </option>
      {%- endfor %}
		</select>
	</div>

	<div id="time-stamp" class="form-group">
      <label for="timeStamp">&nbsp; End Time &nbsp;</label>
      <input class="form-control input-sm date-input" type="text">
      <input class="form-control input-sm time-input" type="text">
      <input id="timestamp" name="timestamp" type="hidden" value="{{get_Timestamp}}">
    </div>

    <div class="form-group">
      <label for="limit">&nbsp; Limit &nbsp;</label>
      <input class="form-control input-sm" id="limit" name="limit" type="text" value="{{get_Limit}}">
    </div>

	&nbsp;
	<button type="submit" class="btn btn-primary btn-sm">Find Traces</button>
	<button type="button" class="btn btn-default btn-sm info-request">Help</button>
</form>
