[Unit]
Description=Zipnish log-reader service (varnish 4.0)

[Service]
WorkingDirectory=/opt/zipnish/log-reader
ExecStart=/opt/zipnish/log-reader/app.py
