{% extends "layout.html" %}

{% block content %}
<div class="row well well-sm">
	<form class="form-inline" role="form">

		<div class="form-group">
			<select 
				data-placeholder="Service Name" 
				class="form-control input-sm" style="width: 234px;" name="serviceName" id="serviceName">
				<option value=""></option>
			</select>
		</div>

		<div class="form-group">
			<select data-placeholder="Span Name" class="form-control input-sm" style="width: 180px;" name="spanName" id="spanName">
				<option value="all">all</option>
			</select>
		</div>

		<div id="time-stamp" class="form-group">
	      <label for="timeStamp">End time</label>
	      <input class="form-control input-sm date-input" type="text">
	      <input class="form-control input-sm time-input" type="text">
	      <input class="" id="timestamp" name="timestamp" type="hidden" value="{{timestamp}}">
	    </div>

	    <div class="form-group">
	      <label for="limit">Limit</label>
	      <input class="form-control input-sm" id="limit" name="limit" type="text" value="{{limit}}">
	    </div>

	    <button type="submit" class="btn btn-default btn-sm">Find Traces</button>

	</form>
</div>
{% endblock %}