<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">

	<title>VMSM - Varnish Micro-Service Monitor</title>

	<meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

	<!-- frontend bower dependency specific files -->
    <link rel="stylesheet" href="/static/libs/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/libs/chosen/chosen.min.css">
    <link rel="stylesheet" href="/static/libs/bootstrap-datepicker/css/datepicker3.css">

	<!-- frontend application specific files -->
	

</head>
<body>
	
</body>
</html>